<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dm.springcloud.mapper.ProductInfoMapper" >

    <select id="selectProductInfoById" resultType="com.dm.springcloud.entity.ProductInfo" parameterType="string">
      select * from product_info where product_no=#{productNo}
    </select>
    <update id="reduceCount" parameterType="map">
        UPDATE product_info SET product_store = product_store - #{amount} WHERE product_no=#{productNo}
    </update>
    <select id="selectCountById" parameterType="String" resultType="int">
        select `product_store` from product_info where product_no=#{productNo}
    </select>
</mapper>